# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. Flávio Martins

### Grupo 26
<dl>
    <dt>5 horas (33.3%)</dt>
    <dd>ist99475 Diogo Pires</dd>
    <dt>5 horas (33.3%)</dt>
    <dd>ist102079 João Mendes</dd>
    <dt>5 horas (33.3%)</dt>
    <dd>ist102506 Maria Rosa</dd>
<dl>

# Empresa de comércio online

## 1 Conversão E-A para Modelo Relacional

Recorde a notação para o Modelo Relacional exposta nas aulas teóricas como se segue:

- relacaoA (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)
- relacaoB (<u>atributo1</u>, … , atributoN)
    - atributoX, … , atributoZ: FK (RelacaoDestino)
    - unique(atributoA, … , AtributoC)

1. As relações são expressas por um nome seguido dos atributos entre parêntesis;
    - As chave primárias são expressas sublinhando os atributos que a compõem;
    - As chaves estrangeiras para outras relações são expressas através da lista de atributos que a compõem, seguida de “: FK(RelacaoDestino)”. A ordem dos atributos que compõem a FK deve corresponder à ordem dos atributos da chave na relação destino;
    - As chaves candidatas são expressas através da expressão “unique”, seguida da lista de atributos que a compõem entre parêntesis;
    - As restrições de integridade ao Modelo Relacional são descritas em termos dos conceitos deste modelo.

### 1.1 Modelo Relacional com Restrições de Integridade

1. Desenvolva um Modelo Relacional correspondente ao modelo Entidade-Associação;
2. Complemente a seu Modelo Relacional com um conjunto de Restrições de Integridade que represente o modelo E-A apresentado com a maior fidelidade.

- Customer(<u>cust_no</u>, name, email, phone, address)
    - UNIQUE(email)

- Order_(<u>order_no</u>, date, cust_no)
    - cust_no: FK(Customer) NOT NULL
    
- Sale(<u>order_no</u>)
    - order_no: FK(Order_)

- pay(<u>order_no</u>, cust_no)
    - order_no: FK(Sale)
    - cust_no: FK(Customer) NOT NULL

- Employee(<u>ssn</u>, TIN, bdate, name)
    - UNIQUE(TIN)

- process(<u>order_no</u>, <u>ssn</u>)
    - order_no: FK(Order_)
    - ssn: FK(Employee)

- Department(<u>name</u>)

- Workplace(<u>address</u>, lat, long)
    - UNIQUE(lat, long)

- works(<u>ssn</u>, <u>name</u>, <u>address</u>)
    - ssn: FK(Employee)
    - name: FK(Department)
    - address: FK(Workplace)

- Warehouse(<u>address</u>)
    - address: FK(Workplace)

- Office(<u>address</u>)
    - address: FK(Workplace)

- Product(<u>sku</u>, name, description, price, ean)

- Supplier(<u>TIN</u>, sku, name, address, date)
    - sku: FK(Product) NOT NULL

- delivery(<u>address</u>, <u>sku</u>, <u>TIN</u>)
    - address: FK(Warehouse)
    - sku, TIN: FK(Supplier.sku, Supplier.TIN)

- contains(<u>order_no</u>, <u>sku</u>, qty)
    - order_no: FK(Order_)
    - sku: FK(Product)

### 1.2 Restrições de Integridade não passíveis de conversão

Identifique todas as Restrições de Integridade do modelo Entidade-Associação apresentado que não são passíveis de conversão para o modelo relacional.

IC-1: Every order_no in *Order_* must be present in *contains*.  
IC-2: Every SSN in *Employee* must be present in *works*.  
IC-3: When a *Workplace* is removed, it should also be removed from *Warehouse* and/or *Office* and vice-versa.  
IC-4: Every SKU in *Product* must be present in *Supplier*.  
IC-5: When a *Sale* is removed its corresponding *Order_* should also be removed and viceversa when applicable.  
IC-6: Customers can only pay for the *Sale* of an *Order_* they have placed themselves.

## 2 Algebra Relacional

Recorde a notação exposta nas aulas teóricas como se segue:

$\Pi_{atributo1} \big( \sigma_{atributo1=atributo2} (relacaoA \bowtie relacaoB) \big)$

#### Simbolos
- $\cup$ union 			
- $\cap$ intersection 		
- $-$ difference 		
- $\times$ cartesian product 
- $\div$ division 			
- $\rho$ rename 			
- $\bowtie$ natural join 		
- $\wedge$ Logical AND 	
- $\vee$ Logical OR 	
- $\neg$ Logical NOT 	

Considerando o modelo relacional desenvolvido, apresente as expressões algébricas correspondentes a cada uma das seguintes interrogações:

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

$\Pi_{Customer.name} \big(\sigma_{price>50 \wedge date.year = 2023} (Product \bowtie_{p.sku = c.sku} contains \bowtie_{c.order\_no = o.order\_no} Order\_ \bowtie_{o.cust\_no = c.cust\_no} Customer)\big)$

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

$\Pi_{Customer.name} \big(\sigma_{date.year=2023 \wedge date.month=1} (Order\_ \bowtie_{o.order\_no=p.order\_no} process \bowtie_{p.ssn=e.ssn} Employee \bowtie_{e.ssn=w.ssn} works \bowtie_{w.address=W.address} Warehouse)\big)$

3. Indique o nome do produto mais vendido;

$ _{name} G_{max(sum(qty))} (_{sku} G _{sum(qty)} (Product \bowtie_{p.sku = c.sku} contains))$

4. Indique o valor total de cada venda realizada.

$_{order\_no}G_{sum(price*qty)} (Sale \bowtie_{s.order\_no = c.order\_no} contains \bowtie_{c.sku = p.sku} Product)$

## 3 Tradução do Modelo Relacional para SQL

### 3.1 Esquema Relacional (schema.sql)

Crie uma base de dados SQL correspondente ao esquema Relacional desenvolvido no ponto anterior.
Utilizando a linguagem SQL (DDL), apresente as instruções para criar o esquema de bases de dados correspondente ao modelo relacional desenvolvido. Deve certificar-se de que os tipos de dados e tamanhos de campo selecionados sejam os mais apropriados. As restrições aplicáveis a cada campo, linha e tabela também devem ser especificadas recorrendo às instruções NOT NULL, CHECK, PRIMARY KEY, UNIQUE e FOREIGN KEY conforme seja apropriado.


Nota: Apresente todas as restrições existentes no modelo Relacional que não podem ser capturadas (implementadas) no esquema SQL, escrevendo-as como comentários na tabela respectiva.

In [ ]:
%load_ext sql
%sql postgresql://db:db@postgres/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%%sql
-- schema.sql

DROP TABLE IF EXISTS Customer CASCADE;
DROP TABLE IF EXISTS Order_ CASCADE;
DROP TABLE IF EXISTS Sale CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS Employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS Department CASCADE;
DROP TABLE IF EXISTS Workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS Warehouse CASCADE;
DROP TABLE IF EXISTS Office CASCADE;
DROP TABLE IF EXISTS Product CASCADE;
DROP TABLE IF EXISTS Supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;
DROP TABLE IF EXISTS contains CASCADE;

CREATE TABLE Customer (
	cust_no	SERIAL PRIMARY KEY,
	name TEXT NOT NULL,
	email VARCHAR(254) UNIQUE NOT NULL,
	phone VARCHAR(15) NOT NULL,
	address TEXT NOT NULL
);

-- IC-1: Customers can only pay for the Sale of an Order_ they have placed themselves.

CREATE TABLE Order_ (
	order_no SERIAL PRIMARY KEY,
	date DATE NOT NULL,
	cust_no SERIAL NOT NULL REFERENCES Customer
);

CREATE TABLE Sale (
	order_no SERIAL PRIMARY KEY REFERENCES Order_ ON DELETE CASCADE
);

CREATE TABLE pay (
	order_no SERIAL PRIMARY KEY REFERENCES Order_,
	cust_no SERIAL NOT NULL REFERENCES Customer
);

CREATE TABLE Employee (
	ssn TEXT PRIMARY KEY,
	tin TEXT UNIQUE NOT NULL,
	bdate DATE NOT NULL,
	name TEXT NOT NULL
);

CREATE TABLE process (
	order_no SERIAL NOT NULL,
	ssn TEXT NOT NULL,
	PRIMARY KEY(order_no, ssn),
	FOREIGN KEY(order_no) REFERENCES Order_,
	FOREIGN KEY(ssn) REFERENCES Employee
);

CREATE TABLE Department (
	name TEXT PRIMARY KEY 
);

CREATE TABLE Workplace(
	address TEXT PRIMARY KEY,
	lat FLOAT NOT NULL,
	long FLOAT NOT NULL,
	UNIQUE(lat, long)
);

CREATE TABLE works(
	ssn TEXT NOT NULL,
	name TEXT NOT NULL,
	address TEXT NOT NULL,
	PRIMARY KEY(ssn, name, address),
	FOREIGN KEY(ssn) REFERENCES Employee,
	FOREIGN KEY(name) REFERENCES Department,
	FOREIGN KEY(address) REFERENCES Workplace
);

CREATE TABLE Warehouse(
	address TEXT PRIMARY KEY REFERENCES Workplace ON DELETE CASCADE
);

CREATE TABLE Office(
	address TEXT PRIMARY KEY REFERENCES Workplace ON DELETE CASCADE
);

CREATE TABLE Product(
	sku TEXT PRIMARY KEY,
	name TEXT NOT NULL,
	description TEXT NOT NULL,
	price INT CHECK (price > 0),
	ean TEXT
);

CREATE TABLE Supplier(
	TIN TEXT PRIMARY KEY,
	sku TEXT NOT NULL,
	name TEXT NOT NULL, 
	address TEXT NOT NULL,
	date DATE NOT NULL,
	FOREIGN KEY(sku) REFERENCES Product
);

-- IC-2: Every SKU in Product must be present in Supplier.  

CREATE TABLE delivery(
	address TEXT NOT NULL,
	sku TEXT NOT NULL,
	TIN TEXT NOT NULL,
	PRIMARY KEY(address, sku, TIN),
	FOREIGN KEY(address) REFERENCES Workplace,
	FOREIGN KEY(sku) REFERENCES Product,
	FOREIGN KEY(TIN) REFERENCES Supplier
);

CREATE TABLE contains(
	order_no SERIAL NOT NULL,
	sku TEXT NOT NULL,
	qty INT CHECK (qty > 0) NOT NULL,
	PRIMARY KEY(order_no, sku),
	FOREIGN KEY(order_no) REFERENCES Order_,
	FOREIGN KEY(sku) REFERENCES Product
);

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- schema.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 3.2 Carregamento da Base de Dados

Crie um script SQL (DML) com todas as instruções INSERT necessárias para criar alguns dados de teste sintéticos para facilitar a validação dos resultados esperados das consultas (lembre-se de que cada tabela deve conter pelo menos uma linha e que todas as consulta têm de retornar um resultado não vazio).

In [ ]:
%%sql
-- populate.sql

INSERT INTO Customer VALUES(DEFAULT, 'Diogo', 'diogo@tecnico.ulisboa.pt', '977263490', 'Rua do Diogo'); 
INSERT INTO Customer VALUES(DEFAULT, 'Joao', 'joao@tecnico.ulisboa.pt', '977263491', 'Rua do Joao');
INSERT INTO Customer VALUES(DEFAULT, 'Maria', 'maria@tecnico.ulisboa.pt', '977263492', 'Rua da Maria');

INSERT INTO Order_ (date, cust_no)
SELECT '2023-01-13', cust_no FROM Customer WHERE name = 'Diogo';
INSERT INTO Order_ (date, cust_no)
SELECT '2023-03-19', cust_no FROM Customer WHERE name = 'Joao';
INSERT INTO Order_ (date, cust_no)
SELECT '2023-04-20', cust_no FROM Customer WHERE name = 'Maria';

INSERT INTO Sale (order_no)
SELECT order_no FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Diogo');

INSERT INTO Employee VALUES('123456789', '987654321', '1999-01-01', 'Jerónimo');
INSERT INTO Employee VALUES('123456788', '987654322', '1999-01-02', 'Manuel');
INSERT INTO Employee VALUES('123456787', '987654323', '1999-01-03', 'João');
INSERT INTO Employee VALUES('123456786', '987654324', '1999-01-04', 'Maria');
INSERT INTO Employee VALUES('123456785', '987654325', '1999-01-05', 'Ana');

INSERT INTO Department VALUES('IT');
INSERT INTO Department VALUES('HR');
INSERT INTO Department VALUES('Sales');
INSERT INTO Department VALUES('Marketing');
INSERT INTO Department VALUES('Finance');

INSERT INTO Workplace VALUES('Rua do Jerónimo', 38.736946, -9.142685);
INSERT INTO Workplace VALUES('Rua do Manuel', 13.482740, -8.463274);
INSERT INTO Workplace VALUES('Rua da Maria', 38.392146, -9.140085);

INSERT INTO works VALUES('123456789', 'IT', 'Rua do Jerónimo');
INSERT INTO works VALUES('123456788', 'HR', 'Rua do Manuel');
INSERT INTO works VALUES('123456786', 'IT', 'Rua da Maria');

INSERT INTO Warehouse VALUES('Rua da Maria');
INSERT INTO Office VALUES('Rua da Maria');
INSERT INTO Warehouse VALUES('Rua do Jerónimo');
INSERT INTO Office VALUES('Rua do Manuel');

INSERT INTO Product VALUES('413', 'Cadeira', 'Cadeira de madeira 40x60', 50, '46320236');
INSERT INTO Product VALUES('165', 'Mesa', 'Mesa de madeira 120x200', 100, '58430543');
INSERT INTO Product VALUES('689', 'Cama', 'Cama de madeira 150x220', 150, '01283617');

INSERT INTO Supplier VALUES('987654321', '413', 'Fábrica de Cadeiras', 'Rua da Fábrica', '2023-01-01');
INSERT INTO Supplier VALUES('987654322', '165', 'Fábrica de Mesas', 'Rua da Fábrica', '2023-01-02');
INSERT INTO Supplier VALUES('987654323', '689', 'Fábrica de Camas', 'Rua da Fábrica', '2023-01-03');

INSERT INTO delivery VALUES('Rua do Jerónimo', '413', '987654321');
INSERT INTO delivery VALUES('Rua do Manuel', '165', '987654322');
INSERT INTO delivery VALUES('Rua do Jerónimo', '689', '987654323');

INSERT INTO contains (order_no, sku, qty)
SELECT order_no, '413', 2
FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Diogo');
INSERT INTO contains (order_no, sku, qty)
SELECT order_no, '689', 3
FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Joao');
INSERT INTO contains (order_no, sku, qty)
SELECT order_no, '165', 1
FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Maria');

INSERT INTO process (order_no, ssn)
SELECT order_no, '123456789'
FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Diogo');
INSERT INTO process (order_no, ssn)
SELECT order_no, '123456788'
FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Joao');
INSERT INTO process (order_no, ssn)
SELECT order_no, '123456787'
FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Maria');


INSERT INTO pay (order_no, cust_no)
SELECT order_no, cust_no
FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Diogo');
INSERT INTO pay (order_no, cust_no)
SELECT order_no, cust_no
FROM Order_
WHERE cust_no = (SELECT cust_no FROM Customer WHERE name = 'Joao');

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- populate.sql

-- CREATE TABLE ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

## 4 Linguagem SQL

Apresente a expressão SQL correspondente  a cada uma das interrogações de Álgebra Relacional.

1. Liste o nome de todos os clientes que fizeram encomendas contendo produtos de preço superior a €50 no ano de 2023;

In [ ]:
%%sql

SELECT 
    DISTINCT Customer.name
FROM 
    Product
    JOIN contains ON Product.sku = contains.sku
    JOIN Order_ ON Order_.order_no = contains.order_no
    JOIN Customer ON Customer.cust_no = Order_.cust_no
WHERE 
    Product.price > 50
AND 
    EXTRACT(YEAR FROM Order_.date) = 2023;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

2. Liste o nome de todos os empregados que trabalham em armazéns e não em escritórios e processaram encomendas em Janeiro de 2023;

In [ ]:
%%sql

SELECT 
  DISTINCT Employee.name
FROM 
  Order_
JOIN process USING (order_no)
JOIN Employee USING (ssn)
JOIN works ON Employee.ssn = works.ssn
JOIN Warehouse ON works.address = Warehouse.address
WHERE 
  EXTRACT(YEAR FROM Order_.date) = 2023
AND 
  EXTRACT(MONTH FROM Order_.date) = 1
EXCEPT
SELECT
  DISTINCT Employee.name
FROM
  Employee
JOIN works ON Employee.ssn = works.ssn
JOIN Office ON works.address = Office.address;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

3. Indique o nome do produto mais vendido;

In [ ]:
%%sql

SELECT 
  Product.name
FROM 
  Product
JOIN contains USING (sku)
GROUP BY Product.name
ORDER BY SUM(contains.qty) DESC
LIMIT 1;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)

4. Indique o valor total de cada venda realizada.

In [ ]:
%%sql

SELECT 
  order_no, SUM(price * qty) AS total_value
FROM 
  Sale
JOIN contains USING (order_no)
JOIN Product USING (sku)
GROUP BY order_no;

*  postgresql://db:***@postgres/db
(psycopg2.ProgrammingError) can't execute an empty query
[SQL: -- SELECT ...]
(Background on this error at: https://sqlalche.me/e/20/f405)