# Projeto de Bases de Dados - Parte 3

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>ist99475 Diogo Pires</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>ist102079 João Mendes</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>ist102506 Maria Rosa</dd>
<dl>

In [19]:
%load_ext sql
%sql postgresql://db:db@localhost/db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

# Empresa de comércio online

## 0. Carregamento da Base de Dados

Carregue o esquema de Base de Dados apresentado no Anexo A.

In [121]:
%%sql

DROP TABLE IF EXISTS customer CASCADE;
DROP TABLE IF EXISTS orders CASCADE;
DROP TABLE IF EXISTS pay CASCADE;
DROP TABLE IF EXISTS employee CASCADE;
DROP TABLE IF EXISTS process CASCADE;
DROP TABLE IF EXISTS department CASCADE;
DROP TABLE IF EXISTS workplace CASCADE;
DROP TABLE IF EXISTS works CASCADE;
DROP TABLE IF EXISTS office CASCADE;
DROP TABLE IF EXISTS warehouse CASCADE;
DROP TABLE IF EXISTS product CASCADE;
DROP TABLE IF EXISTS contains CASCADE;
DROP TABLE IF EXISTS supplier CASCADE;
DROP TABLE IF EXISTS delivery CASCADE;

CREATE TABLE customer(
cust_no INTEGER PRIMARY KEY,
name VARCHAR(80) NOT NULL,
email VARCHAR(254) UNIQUE NOT NULL,
phone VARCHAR(15),
address VARCHAR(255)
);

CREATE TABLE orders(
order_no INTEGER PRIMARY KEY,
cust_no INTEGER NOT NULL REFERENCES customer,
date DATE NOT NULL
--order_no must exist in contains
);

CREATE TABLE pay(
order_no INTEGER PRIMARY KEY REFERENCES orders,
cust_no INTEGER NOT NULL REFERENCES customer
);

CREATE TABLE employee(
ssn VARCHAR(20) PRIMARY KEY,
TIN VARCHAR(20) UNIQUE NOT NULL,
bdate DATE,
name VARCHAR NOT NULL
--age must be >=18
);

CREATE TABLE process(
ssn VARCHAR(20) REFERENCES employee,
order_no INTEGER REFERENCES orders,
PRIMARY KEY (ssn, order_no)
);

CREATE TABLE department(
name VARCHAR PRIMARY KEY
);

CREATE TABLE workplace(
address VARCHAR PRIMARY KEY,
lat NUMERIC(8, 6) NOT NULL,
long NUMERIC(9, 6) NOT NULL,
UNIQUE(lat, long)
--address must be in warehouse or office but not both
);

CREATE TABLE office(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE warehouse(
address VARCHAR(255) PRIMARY KEY REFERENCES workplace
);

CREATE TABLE works(
ssn VARCHAR(20) REFERENCES employee,
name VARCHAR(200) REFERENCES department,
address VARCHAR(255) REFERENCES workplace,
PRIMARY KEY (ssn, name, address)
);

CREATE TABLE product(
SKU VARCHAR(25) PRIMARY KEY,
name VARCHAR(200) NOT NULL,
description VARCHAR,
price NUMERIC(10, 2) NOT NULL,
ean NUMERIC(13) UNIQUE
);

CREATE TABLE contains(
order_no INTEGER REFERENCES orders,
SKU VARCHAR(25) REFERENCES product,
qty INTEGER,
PRIMARY KEY (order_no, SKU)
);

CREATE TABLE supplier(
TIN VARCHAR(20) PRIMARY KEY,
name VARCHAR(200),
address VARCHAR(255),
SKU VARCHAR(25) REFERENCES product,
date DATE
);

CREATE TABLE delivery(
address VARCHAR(255) REFERENCES warehouse,
TIN VARCHAR(20) REFERENCES supplier,
PRIMARY KEY (address, TIN)
);

 * postgresql://db:***@localhost/db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

Crie as instruções para o seu preenchimento de forma consistente, garantindo que todas as consultas SQL e OLAP, apresentadas mais adiante, produzam um resultado não vazio.

In [122]:
%%sql
-- populate.sql

INSERT INTO customer VALUES(1, 'Diogo', 'diogo@tecnico.ulisboa.pt', '904738200', 'Rua São Domingues'); 
INSERT INTO customer VALUES(2, 'Joao', 'joao@tecnico.ulisboa.pt', '917483112', 'Rua de Prata');
INSERT INTO customer VALUES(3, 'Maria', 'maria@tecnico.ulisboa.pt', '927800195', 'Rua do Ouro');
INSERT INTO customer VALUES(4, 'Ana', 'ana@tecnico.ulisboa.pt', '930687710', 'Rua Santo António');
INSERT INTO customer VALUES(5, 'Rui', 'rui@tecnico.ulisboa.pt', '994830244', 'Rua do Chile');

INSERT INTO orders VALUES(1, 1, '2021-04-27');
INSERT INTO orders VALUES(2, 1, '2022-05-22');
INSERT INTO orders VALUES(3, 2, '2022-08-03');
INSERT INTO orders VALUES(4, 3, '2023-11-20');
INSERT INTO orders VALUES(5, 4, '2021-12-09');
INSERT INTO orders VALUES(6, 5, '2023-03-17');
INSERT INTO orders VALUES(7, 5, '2023-03-17');

INSERT INTO pay VALUES(1, 1);
INSERT INTO pay VALUES(3, 2);
INSERT INTO pay VALUES(6, 5);

INSERT INTO employee VALUES('123456789', '987654321', '1999-01-06', 'Jerónimo');
INSERT INTO employee VALUES('123456788', '987654322', '2000-03-20', 'Manuel');
INSERT INTO employee VALUES('123456787', '987654323', '2001-10-22', 'Miguel');
INSERT INTO employee VALUES('123456786', '987654324', '2000-07-04', 'Sofia');
INSERT INTO employee VALUES('123456785', '987654325', '1999-01-05', 'Roberto');
--INSERT INTO employee VALUES('123456784', '987654326', '2007-01-05', 'Amilcar');

INSERT INTO process VALUES('123456789', 1);
INSERT INTO process VALUES('123456789', 2);
INSERT INTO process VALUES('123456788', 3);
INSERT INTO process VALUES('123456785', 6);

INSERT INTO department VALUES('IT');
INSERT INTO department VALUES('HR');
INSERT INTO department VALUES('Sales');
INSERT INTO department VALUES('Marketing');
INSERT INTO department VALUES('Finance');

INSERT INTO workplace VALUES('Rua de Santo Tirco', 27.736946, 12.142685);
INSERT INTO workplace VALUES('Rua da Venda Quebrada', 13.482740, -8.463274);
INSERT INTO workplace VALUES('Rua São João Goloso', 38.392146, -9.140085);

INSERT INTO warehouse VALUES('Rua de Santo Tirco');
INSERT INTO warehouse VALUES('Rua da Venda Quebrada');
INSERT INTO office VALUES('Rua de Santo Tirco');
INSERT INTO office VALUES('Rua São João Goloso');

INSERT INTO works VALUES('123456789', 'IT', 'Rua de Santo Tirco');
INSERT INTO works VALUES('123456788', 'HR', 'Rua da Venda Quebrada');
INSERT INTO works VALUES('123456787', 'Sales', 'Rua São João Goloso');
INSERT INTO works VALUES('123456786', 'IT', 'Rua de Santo Tirco');
INSERT INTO works VALUES('123456785', 'Marketing', 'Rua da Venda Quebrada');

INSERT INTO product VALUES('120', 'Cadeira', 'Cadeira de madeira 40x60', 50, '46320236');
INSERT INTO product VALUES('165', 'Mesa', 'Mesa de madeira 120x200', 100, '58430543');
INSERT INTO product VALUES('287', 'Forno', 'Forno 250 graus', 500, '01283617');
INSERT INTO product VALUES('301', 'Frigorífico', 'Frigorífico 250x100', 350, '84759825');
INSERT INTO product VALUES('349', 'Cama', 'Cama de madeira 150x220', 200, '34621956');

INSERT INTO supplier VALUES('987654321', 'Cadeiras and CO', 'Rua Citadino Bonifacio', '120', '2023-01-09');
INSERT INTO supplier VALUES('987654322', 'Mesas para Todos', 'Rua Miguel Torga', '165', '2022-05-22');
INSERT INTO supplier VALUES('987654323', 'Quentinho Lda', 'Rua Ai Miguel', '287', '2021-10-30');
INSERT INTO supplier VALUES('987654324', 'Brrrr', 'Rua Jacaré Corcunda', '301', '2023-02-13');
INSERT INTO supplier VALUES('987654325', 'Camas e Camas', 'Rua Guilerme Tordo', '349', '2022-09-03');

INSERT INTO contains VALUES(1, '120', 2);
INSERT INTO contains VALUES(1, '165', 1);
INSERT INTO contains VALUES(2, '287', 4);
INSERT INTO contains VALUES(3, '301', 1);
INSERT INTO contains VALUES(4, '349', 5);
INSERT INTO contains VALUES(4, '120', 2);
INSERT INTO contains VALUES(5, '120', 2);
INSERT INTO contains VALUES(6, '165', 8);
INSERT INTO contains VALUES(7, '287', 100);

INSERT INTO delivery VALUES('Rua de Santo Tirco', '987654321');
INSERT INTO delivery VALUES('Rua de Santo Tirco', '987654322');
INSERT INTO delivery VALUES('Rua da Venda Quebrada', '987654323');
INSERT INTO delivery VALUES('Rua da Venda Quebrada', '987654324');
INSERT INTO delivery VALUES('Rua de Santo Tirco', '987654325');

 * postgresql://db:***@localhost/db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Nenhum empregado pode ter menos de 18 anos de idade

In [30]:
%%sql
-- (RI-1)

ALTER TABLE employee
    ADD CHECK (EXTRACT(YEAR FROM CURRENT_DATE) - EXTRACT(YEAR FROM bdate) >= 18);

 * postgresql://db:***@localhost/db
(psycopg2.errors.CheckViolation) new row for relation "employee" violates check constraint "employee_bdate_check"
DETAIL:  Failing row contains (123456784, 987654326, 2007-01-05, Amilcar).

[SQL: -- (RI-1)

INSERT INTO employee VALUES('123456784', '987654326', '2007-01-05', 'Amilcar');]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

(RI-2) Um 'Workplace' é obrigatoriamente um 'Office' ou 'Warehouse' mas não pode ser ambos

In [77]:
%%sql
-- (RI-2)

DROP TRIGGER IF EXISTS check_workplace_trigger ON workplace; 

CREATE OR REPLACE FUNCTION check_workplace() RETURNS TRIGGER AS $$
    BEGIN
        IF (NEW.address IN (SELECT address FROM office) AND NEW.address IN (SELECT address FROM warehouse)) OR (NEW.address NOT IN (SELECT address FROM office) AND NEW.address NOT IN (SELECT address FROM warehouse)) THEN
            RAISE EXCEPTION 'A Workplace has to be an Office or a Warehouse, but not both';
        END IF;
        RETURN NEW;
    END;
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER check_workplace_trigger AFTER INSERT OR UPDATE ON workplace DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION check_workplace();

 * postgresql://db:***@localhost/db
Done.
Done.
Done.

[]

In [83]:
%%sql

BEGIN;
    INSERT INTO orders VALUES(10, 1, '2021-04-27');
    INSERT INTO contains VALUES(10, '999', 8);
COMMIT;

 * postgresql://db:***@localhost/db
Done.
Traceback (most recent call last):
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1132, in _commit_impl
    self.engine.dialect.do_commit(self.connection)
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/default.py", line 694, in do_commit
    dbapi_connection.commit()
psycopg2.errors.RaiseException: Order must exist in contains
CONTEXT:  PL/pgSQL function check_contains() line 4 at RAISE


The above exception was the direct cause of the following exception:

Traceback (most recent call last):
  File "/home/diogopires/.local/lib/python3.11/site-packages/sql/run.py", line 343, in _commit
    conn.internal_connection.commit()
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 989, in commit
    self._transaction.commit()
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 2615, in commit
    self._do_commit()
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 2720, in _do_commit
    self._connection_commit_impl()
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 2691, in _connection_commit_impl
    self.connection._commit_impl()
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1134, in _commit_impl
    self._handle_dbapi_exception(e, None, None, None, None)
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 2339, in _handle_dbapi_exception
    raise sqlalchemy_exception.with_traceback(exc_info[2]) from e
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/base.py", line 1132, in _commit_impl
    self.engine.dialect.do_commit(self.connection)
  File "/home/diogopires/.local/lib/python3.11/site-packages/sqlalchemy/engine/default.py", line 694, in do_commit
    dbapi_connection.commit()
sqlalchemy.exc.InternalError: (psycopg2.errors.RaiseException) Order must exist in contains
CONTEXT:  PL/pgSQL function check_contains() line 4 at RAISE

(Background on this error at: https://sqlalche.me/e/20/2j85)

(psycopg2.errors.RaiseException) Order must exist in contains
CONTEXT:  PL/pgSQL function check_contains() line 4 at RAISE

(Background on this error at: https://sqlalche.me/e/20/2j85)

(RI-3) Uma 'Order' tem de figurar obrigatoriamente em 'Contains'.

In [81]:
%%sql
-- (RI-3)

CREATE OR REPLACE FUNCTION check_contains() RETURNS TRIGGER AS $$
    BEGIN
        IF NEW.order_no NOT IN (SELECT order_no FROM contains) THEN
            RAISE EXCEPTION 'Order must exist in contains';
        END IF;
        RETURN NEW;
    END;
$$ LANGUAGE plpgsql;

CREATE CONSTRAINT TRIGGER order_contains_trigger AFTER INSERT OR UPDATE ON orders DEFERRABLE INITIALLY DEFERRED
    FOR EACH ROW EXECUTE FUNCTION check_contains();

 * postgresql://db:***@localhost/db
Done.
Done.

[]

## 2. Consultas SQL

Apresente a consulta SQL mais sucinta para cada uma das seguintes questões

1) Qual o número e nome do(s) cliente(s) com maior valor total de encomendas pagas?

In [115]:
%%sql

SELECT customer.cust_no, customer.name, SUM(qty * price)
FROM customer
    JOIN orders USING (cust_no)
    JOIN contains USING (order_no)
    JOIN product USING (SKU)
    JOIN pay USING (order_no)
GROUP BY customer.cust_no
HAVING SUM(qty * price) >= ALL
    (SELECT SUM(qty * price) 
    FROM pay
        JOIN contains USING (order_no)
        JOIN product USING (SKU)
    GROUP BY cust_no);

 * postgresql://db:***@localhost/db
1 rows affected.

[(5, 'Rui', Decimal('800.00'))]

2. Qual o nome dos empregados que processaram encomendas em todos os dias de 2022 em que houve encomendas?

In [123]:
%%sql

SELECT e.name
FROM employee e
WHERE EXISTS (
    SELECT DISTINCT o.date
    FROM orders o
    WHERE o.date >= '2022-01-01' AND o.date <= '2022-12-31'
    AND EXISTS (
        SELECT 1
        FROM process p
        WHERE p.ssn = e.ssn AND p.order_no = o.order_no
    )
)

 * postgresql://db:***@localhost/db
2 rows affected.

[('Jerónimo',), ('Manuel',)]

3. Quantas encomendas foram realizadas mas não pagas em cada mês de 2022?

In [125]:
%%sql

SELECT COUNT(*) AS num_orders
FROM orders o
WHERE o.date >= '2022-01-01' AND o.date <= '2022-12-31'
AND NOT EXISTS (
    SELECT 1
    FROM pay p
    WHERE p.order_no = o.order_no
)
GROUP BY EXTRACT(MONTH FROM o.date)

 * postgresql://db:***@localhost/db
1 rows affected.

[(1,)]

## 3. Vistas

Crie uma vista que resuma as informações mais importantes sobre as vendas de produtos, combinando informações de diferentes tabelas do esquema de base de dados. A vista deve ter o seguinte esquema:

product_sales(sku, order_no, qty, total_price, year, month, day_of_month, day_of_week, city)

In [ ]:
%%sql

CREATE OR REPLACE VIEW product_sales AS
SELECT
    c.sku, 
    o.order_no,
    c.qty
    c.qty * p.price AS total_price
    EXTRACT(YEAR FROM o.date) AS year,
    EXTRACT(MONTH FROM o.date) AS month,
    EXTRACT(DAY FROM o.date) AS day_of_month,
    EXTRACT(DOW FROM o.date) AS day_of_week,
    w.city
FROM 
    contains c
    JOIN orders o USING (order_no)
    JOIN product p USING (sku)
    JOIN warehouse w USING (address)

## 4. Desenvolvimento de Aplicação

### Explicação da arquitetura da aplicação web, incluindo um link para uma versão de trabalho e as relações entre os vários ficheiros na pasta web/arquivos

...

## 5. Consultas OLAP

Usando a vista desenvolvida para a Questão 3, escreva duas consultas SQL que permitam analisar:

1. As quantidade e valores totais de venda de cada produto em 2022, globalmente, por cidade, por mês, dia do mês e dia da semana

In [ ]:
%%sql

SELECT
    ps.sku,
    ps.city,
    ps.month,
    ps.day_of_month,
    ps.day_of_week,
    SUM(ps.qty) AS total_quantity,
    SUM(ps.total_price) AS total_sales_value
FROM
    product_sales ps
WHERE
    ps.year = 2022
GROUP BY
    ps.sku,
    ps.city,
    ps.month,
    ps.day_of_month,
    ps.day_of_week
ORDER BY
    ps.month,
    ps.day_of_month,
    ps.day_of_week;

2. O valor médio diário das vendas de todos os produtos em 2022, globalmente, por mês e dia da semana

In [ ]:
%%sql

SELECT
    ps.month,
    ps.day_of_week,
    AVG(ps.total_price) AS average_daily_sales
FROM
    product_sales ps
WHERE
    ps.year = 2022
GROUP BY
    ps.month,
    ps.day_of_week
ORDER BY
    ps.month,
    ps.day_of_week;

## 6. Índices

Indique, com a devida justificação, que tipo de índice(s), sobre qual(is) atributo(s) e sobre qual(is) tabela(s) faria sentido criar, de forma a agilizar a execução de cada uma das seguintes consultas:

### 6.1
SELECT order_no  
FROM orders  
JOIN contains USING (order_no)  
JOIN product USING (SKU)  
WHERE price > 50 AND  
EXTRACT(YEAR FROM date) = 2023

### Tipo de Índice, Atributos & Justificação

Faria sentido criar: 
- Um índice hash para o atributo *order_no* da tabela *contains* pois este índice é bom para seleções de igualdade, neste caso fazer um join que referencia uma coluna especificamente;
- um índice b-tree para o atributo *price* da tabela *product* pois este índice é ideal para consultas de range, neste caso um maior que.
- um índice hash para o atributo *date* da tabela *orders* pois este índice é bom para seleções por igualdade, neste caso uma igualdade.

### 6.2
SELECT order_no, SUM(qty*price)  
FROM contains  
JOIN product USING (SKU)  
WHERE name LIKE ‘A%’  
GROUP BY order_no;

### Tipo de Índice, Atributos & Justificação

Faria sentido criar:
- Um índice b-tree para o *name* da tabela *product* pois este índice é bom para operações com LIKE em que sabemos o prefixo da palavra.